.appointment-body{
    background: #395FA9;
    position: relative;
}
.arrow-img{
    position: absolute;
    width:5% !important;
    bottom: -2rem;
    right: 5rem;
}
.appointment-button{
    background: #FFFFFF;
border-radius: 2px;
color: #0047AB !important;
    border: 1px solid #FFFFFF ;
}
@media only screen and (max-width: 600px) {
.appointment-header{
    text-align: center
}
.arrow-img{
    position: absolute;
    width:10% !important;
    bottom: -2rem;
    right: 3rem;
}
}