.feature-body{
    background: radial-gradient(80.11% 80.11% at 50% 19.89%, #F3F5F9 0%, rgba(243, 245, 249, 0.5) 100%), #FFFFFF;
}
.feature-title{
    color: #2B2D42;
}
.feature-color{
    color: #FF8400;
}