.feature-body{
    background: radial-gradient(80.11% 80.11% at 50% 19.89%, #F3F5F9 0%, rgba(243, 245, 249, 0.5) 100%), #FFFFFF;
}
.feature-title{
    color: #2B2D42;
}
.feature-color{
    color: #FF8400;
}
.feature-list{
    position: relative;
   
    z-index:1
}
.dot-img-start{
    position: absolute;
  left: 160px;
  top: 5px;
  z-index: -1;
}
.dot-img-end{
    position: absolute;
    left:160px;
    top: 50px;
    z-index: -1;
}
.logs-img{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}
@media only screen and (max-width: 600px) {
    .dotImg-responsive{
        display: none
    }  
          
    
}