.logo-style{
    left: -8px;
    position: relative;
}
.all-btn{
    font-weight: 800;
  
color: #FFFFFF;

background-color: #0047AB;
    border: 1px solid #0047AB;
}
.orange-text{
    color: #FF8400;
}
.bold{
    font-weight:800;
}
.rectangle{
    border: 2.5px solid #FF8400;
    background-color: #FF8400;
    width: 31px;
    opacity:1;
}
.sign-up{
    color: #5F6377;
}
.footer-text{
    color: #2B2D42;
}

@media only screen and (max-width: 600px) {
.follow-us-style{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.follow-us-text{
    position: relative;
    top: 8px;
}
.submit-btn{
    display: flex;
    flex-direction: row-reverse
}
.services{
   width:48%;
}
}